<html>
<head>
    <title>Dojo Fruit Store Assignment</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
</head>
<body>

    <header> <!--ESTE ES EL HEADER DISTINTO AL HEAD OJOOOOO-->
        <div class="navbar navbar-dark bg-dark box-shadow">
          <div class="container d-flex justify-content-between">
            <a href="#" class="navbar-brand d-flex align-items-center">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg>
              <strong>Dojo Fruit Store</strong>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          </div>
        </div>
      </header>
  
      <main role="main">
  
        <section class="jumbotron text-center">
          <div class="container">
            <h1 class="jumbotron-heading">Dojo Fruits</h1>
            <div class="card-group">
              <div class="card">
                <img src="static/img/strawberry.png" class="card-img-top" style="width: 10rem; height: 10rem ;margin: 2rem;">
                <div class="card-body">
                  <h5 class="card-title">Strawberry</h5>
                  <p class="card-text">Delicius Strawberry from Japan, recomended by Ariana Grande</p>
                </div>
              </div>
              <div class="card">
                <img src="static/img/blackberry.png" class="card-img-top" style="width: 10rem; height: 10rem ;margin: 2rem;">
                <div class="card-body">
                  <h5 class="card-title">Blackberry</h5>
                  <p class="card-text">Delicius Blackberry from Japan, recomended by Ariana Grande</p>
                </div>
              </div>
              <div class="card">
                <img src="static/img/apple.png" class="card-img-top" style="width: 10rem; height: 10rem ;margin: 2rem;">
                <div class="card-body">
                  <h5 class="card-title">Apple</h5>
                  <p class="card-text">Delicius Apple from Japan, recomended by Troy Sivan</p>
                </div>
              </div>
              <div class="card">
                <img src="static/img/raspberry.png" class="card-img-top" style="width: 10rem; height: 10rem ;margin: 2rem;">
                <div class="card-body">
                  <h5 class="card-title">Raspberry</h5>
                  <p class="card-text">Delicius Raspberry from Japan, recomended by Bad Bunny</p>
                </div>
              </div>
            </div>
            <p>
              <a href="/" class="btn btn-primary my-2">Go back</a>
            </p>
          </div>
        </section>
  
      </main>
      
</body>
</html>